name: GitHub Actions Demo

on: push

jobs:
  build:
    name: Name of the Build job
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.0.0]

    steps:
    - uses: actions/checkout@v2
    - name: Using Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run build --if-present
  
